@font-face {
    /*한글 - 깔끔*/
    font-family: 'jua';
    src: url('https://phobi.my/gamja.img/fonts/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --char-bg-color : #c97a16;
    --char-border-color : #8b4513;
    --brown-color: #5c3b1e;
    --orange-color: #fa6719;
    --dark-orange-color: #df5d00;
    --white-color: #fff1cc;
    --baige-color: #ffcf75;
    --green-hignlight: #39ff14;
    --dark-brown-font-color: #45200f;

    /*dart ver*/
    --dark-1-color: #222;
    --dark-2-color : #2e3047;
    --dark-3-color : #3c3f58;
    --dark-2-font-color : #6afe97;
    --dark-1-font-color : #ffd54f;
}

* {
    user-select: none; /* 텍스트 선택 완전 차단 */
    cursor: default;    /* 커서도 기본 커서로 */
    font-family: 'jua', cursive;
}

html, body {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


button {
    font-weight: bold;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem); /* 모바일~PC 가변 글자 크기 */
    padding: 0.6rem 1.2rem;  /* 좌우 여백 비례 */
    border: none;
    border-radius: 0.6rem;
    background-color: #f4a261;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


button:hover {
    background-color: #e76f51; /* hover 색상 유지 */
}
