@keyframes pinshake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


#mainBtn {
    background-image: url('http://211.208.163.16:51080/images//icons/btn_main.png');
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
}

#bgmToggleBtn {
    position: absolute;
    top: 2vh;
    right: 3vw; /* 모바일 기준 살짝 안쪽으로 */
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
}


/* 기본 배경 */
.intro-page {
    background-color: #5e340e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.intro-page h2 {
    color: #ffe4b5; /* 크림 감자색 */
    margin-bottom: 16px;
    font-size: 24px;
    text-shadow: 1px 1px 2px #5c3b1e; /* 텍스트도 감자 그림자 */
}
.logo-container {
    text-align: center;
}

/* 로고 */
.logo-img {
    width: 80%;
    max-width: 300px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.click-guide {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    margin-top: 0.5rem;
    animation: blink 1.5s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.success-modal-content {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    width: 400px; /* 넓게! */
    max-width: 90%;
    min-height: 250px;
    box-sizing: border-box;
    position: relative;
}