@import url('modal.css');
@import url('main.css');
@import url('char.css');
@import url('index.css');

@font-face {
    /*숫자 - 픽셀 */
    font-family: 'neodgm';
    src: url('/fonts/neodgm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*한글 - 깔끔*/
    font-family: 'jua';
    src: url('/fonts/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*한글 - 두껍고 귀엽 */
    font-family: 'hansan';
    src: url('/fonts/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    user-select: none; /* 텍스트 선택 완전 차단 */
    cursor: default;    /* 커서도 기본 커서로 */
    font-family: 'jua', cursive;
}

body {
    background-color: #fff5e1; /* 기본 배경색 유지 */
    margin: 0;
    padding: 0;
}

/* 로고 */
.logo-img {
    width: 300px;
    cursor: pointer;
}

/* 에러 텍스트 스타일 */
.error-text {
    color: #ff5c5c;
    font-size: 14px;
    margin-top: 8px;
}
.hidden {
    display: none;
}

.final-mission {
    animation: popAndGlow 0.8s ease;
}
@keyframes popAndGlow {
    0% { transform: scale(1); color: #333; text-shadow: none; }
    50% { transform: scale(1.3); color: #e76f51; text-shadow: 0 0 10px #f4a261; }
    100% { transform: scale(1); color: #333; text-shadow: none; }
}

button {
    font-weight: bold; /* 굵게 강조 */
    font-size: 18px; /* 살짝 키워서 가독성 업 */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f4a261;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #e76f51; /* hover 색상 유지 */
}

