@import url('modal.css');
@import url('char.css');
@import url('index.css');
@font-face {
    /*숫자 - 픽셀 */
    font-family: 'neodgm';
    src: url('/fonts/neodgm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*한글 - 깔끔*/
    font-family: 'jua';
    src: url('/fonts/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*한글 - 두껍고 귀엽 */
    font-family: 'hansan';
    src: url('/fonts/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --char-bg-color : #c97a16;
    --char-border-color : #8b4513;
    --brown-color: #5c3b1e;
    --orange-color: #fa6719;
    --white-color: #fff1cc;
}

* {
    user-select: none; /* 텍스트 선택 완전 차단 */
    cursor: default;    /* 커서도 기본 커서로 */
    font-family: 'jua', cursive;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
.common-h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #d4a373;
}

.common-h2-brown {
    margin-bottom: 15px;
    font-size: 22px;
    color: #5e340e;
}

/* 에러 텍스트 스타일 */
.error-text {
    color: #ff5c5c;
    font-size: 14px;
    margin-top: 8px;
}

.hidden {
    display: none;
}

button {
    font-weight: bold;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem); /* 모바일~PC 가변 글자 크기 */
    padding: 0.6rem 1.2rem;  /* 좌우 여백 비례 */
    border: none;
    border-radius: 0.6rem;
    background-color: #f4a261;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


button:hover {
    background-color: #e76f51; /* hover 색상 유지 */
}

/* 희귀도별 스타일 */
.rarity-text {
    font-weight: bold;
}

.rarity-common {
    color: inherit;
    filter: brightness(1);
}

.rarity-rare {
    color: #4aa8ff;
    filter: drop-shadow(0 0 6px rgba(173, 216, 230, 0.7));
}

.rarity-epic {
    filter: drop-shadow(0 0 6px rgba(147, 112, 219, 0.8));
}

.rarity-legendary {
    filter: drop-shadow(0 0 8px rgba(255, 140, 0, 0.9));
}

